{% extends "base.html" %}

{% block title %}
    <h1>お気に入り</h1>
{% endblock %}

{% block content %}
<div>
    <p><a href="{{ url_for('input') }}" style="margin-right: 20px; text-decoration: none; color: #007BFF;">🠔 入力画面に戻る</a></p>
</div>

<div style="text-align: center; margin: 0 auto; max-width: 800px;">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>著者</th>
                <th>出版社</th>
                <th>価格</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                {% if result.list %}
                    <tr>
                        <td>{{ result.id }}</td>
                        <td>{{ result.title }}</td>
                        <td>{{ result.author }}</td>
                        <td>{{ result.publisher }}</td>
                        <td>{{ result.price }}</td>
                        <td>{{ result.isbn }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
